.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 100px auto 200px;
    grid-template-rows: 200px 100px 400px 60px;
    margin: 50px;
    font-size: 40px;
    font-weight: bold;




}

