.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
    border: 1px solid black;
}

html, body {

    background-color: #ffeead;

    margin: 10px;
}

.container > div:nth-child(1n) {
    background-color: #96ceb4;
}

.container > div:nth-child(3n) {
    background-color: #88d8b0;
}

.container > div:nth-child(2n) {
    background-color: #ff6f69;
}

.container > div:nth-child(4n) {
    background-color: #ffcc5c;
}
.container > div:nth-child(5n) {
    background-color: #96ceb4;
}

.container > div:nth-child(6n) {
    background-color: #88d8b0;
}

.container > div:nth-child(7n) {
    background-color: #ff6f69;
}

.container > div:nth-child(8n) {
    background-color: #ffcc5c;
}
.container > div:nth-child(9n) {
     background-color: #96ceb4;
 }

.container > div:nth-child(10n) {
    background-color: #88d8b0;
}

.container > div:nth-child(11n) {
    background-color: #ff6f69;
}

.container > div:nth-child(12n) {
    background-color: #ffcc5c;
}