.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5,1fr);

    margin: 50px;
    font-size: 40px;
    font-weight: bold;

}

.container > div:nth-child(9) {
    background-color: rgba(244, 244, 244, 0.84);
    grid-column: span 2;
    grid-row: span 2;
}
