.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 150px);
    border: solid 10px rgba(235, 242, 4, 0.72);
    margin: 50px;
    height: auto;

}

.dupa
{
    grid-column: auto / -1;
}




